@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-slate-50 text-zinc-900 transition-colors duration-200 dark:bg-zinc-900 dark:text-slate-100;
  }
}

/* متصفحات Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* متصفح Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* تحديد نظام الألوان للمتصفح لتوافق الإكمال التلقائي */
:root {
  color-scheme: light dark;
}

/* الضبط الأنيق للاكمال التلقائي ليدعم الثيمين */
input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f8fafc inset !important; /* لون خلفية الـ Light (slate-50) */
  -webkit-text-fill-color: #0f172a !important; /* لون خط الـ Light */
}

.dark input:-webkit-autofill,
.dark textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #18181b inset !important; /* لون خلفية الـ Dark (zinc-900) */
  -webkit-text-fill-color: #f4f4f5 !important; /* لون خط الـ Dark */
}